body {
    padding: 0;
    margin: 0;
    background-image: url(cat.gif);
    background-color: #b6e1d2;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*ill leave these here in case you get dizzy from all the catness*/
}
h2 {
    color: #2f5496;
    text-shadow: 1px 1px 1px whitesmoke;
    text-align: center;
    font-size: 2rem;
}
table {
    margin: auto;
    width: 50%;
    color: whitesmoke;
    text-shadow: 2px 2px 2px#2f5496;
}
.inputs {
    padding: 5%;
    font-size: 1.5rem;
}
#searchResults {
    background-color: rgba(153, 195, 180, 0.69);
}
